<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeWord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F89DA8881D7CF9BC00D88D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F89DA89F1D7CF9BD00D88D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F89DA8AA1D7CF9BD00D88D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
